*{
    text-decoration: none;
    border: 0;
    background: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
    height: 70px;
    width: 120px;
}

.logo_text{
    color: #444BAB;
    font-size: 18px;
    font-weight: 400;

}

.links * {
    color: #444BAB;
}

.login{
    color: #444BAB;
    font-size: 16px;
    font

}

.signup{
    background: linear-gradient(91.41deg, #444BAB 0%, #3AA2C1 99.71%);
    border-radius: 6px;
color: white;
    font-size: 16px;
}

